@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .cv-auto {
    content-visibility: auto;
    contain-intrinsic-size: 40px; /* Approximate height of a sidebar item */
  }
}
