# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# OpenLB
olb-release/
my_cases/Aerospace/cyl_flow/tmp/
*.o
*.d
my_cases/Aerospace/cyl_flow/cyl_flow
release-1.8.1/
